.hottest {
  &__main {
    border-radius: 0;
    border: 0;
    @include responsive(laptop) {
      border-radius: 2rem;
      border: 1px solid rgb(192, 194, 197);
    }
    &-head {
    }
    &-content {
      & > div {
        & > div:first-child {
          & > ol {
            min-width: 25rem;
            max-width: 27.5rem;
            & > li {
              & > a {
                & > div {
                  &:first-child {
                    & > img {
                    }
                  }
                  &:last-child {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
