.plus {
  &__main {
    border-radius: 0;
    @include responsive(laptop) {
      border-radius: 2rem;
    }
    &-rightbox {
      width: 100%;
      @include responsive(tabletlg) {
        width: 25%;
      }
    }
    &-leftbox {
      width: 100%;
      @include responsive(tabletlg) {
        width: 75%;
      }
    }
  }
}
