//*---------------------------------------------  default Fonts Size  -------------------------------------------------
$first: 0.25rem;
$second: 0.5rem;
$third: 1.2rem;
$fourth: 1.4rem;
$fifth: 2.1rem;
$sixth: 2.5rem;
$seventh: 3rem;
$eighth: 3.5rem;
$ninth: 4rem;
$tenth: 5rem;
$custom-font: (
  1: $first,
  2: $second,
  3: $third,
  4: $fourth,
  5: $fifth,
  6: $sixth,
  7: $seventh,
  8: $eighth,
  9: $ninth,
  10: $tenth,
);
$font-sizes: map-merge($font-sizes, $custom-font);
