@font-face {
  font-family: "DigiKala";
  font-style: normal;
  font-weight: normal;
  src: url(../../public/fonts/PersianFonts/woff/IRANSansX-Bold.woff)
      format("woff"),
    url(../../public/fonts/PersianFonts/ttf/IRANSansX-Bold.ttf) format("ttf"),
    url(../../public/fonts/PersianFonts/eot/IRANSansX-Bold.eot?#iefix)
      format("eot");
}
@font-face {
  font-family: "DigiKala";
  font-style: normal;
  font-weight: normal;
  src: url(../../public/fonts/PersianFonts/woff/IRANSansX-Medium.woff)
      format("woff"),
    url(../../public/fonts/PersianFonts/ttf/IRANSansX-Medium.ttf) format("ttf"),
    url(../../public/fonts/PersianFonts/eot/IRANSansX-Medium.eot?#iefix)
      format("eot");
}
@font-face {
  font-family: "Digikala";
  font-style: normal;
  font-weight: normal;
  src: url(../../public/fonts/PersianFonts/woff/IRANSansX-Regular.woff)
      format("woff"),
    url(../../public/fonts/PersianFonts/ttf/IRANSansX-Regular.ttf) format("ttf"),
    url(../../public/fonts/PersianFonts/eot/IRANSansX-Regular.eot?#iefix)
      format("eot");
}
